<mat-card>
	<mat-card-title>
		{{ product.id ? 'Atualizar Produto' : 'Novo Produto' }}
	</mat-card-title>

	<form>
		<mat-form-field>
			<input matInput 
				placeholder="Nome" type="text" autocomplete="off" 
				[(ngModel)]="product.name" name="name">
		</mat-form-field>
		<mat-form-field>
			<input matInput 
				placeholder="Preço (R$)" type="number" autocomplete="off" 
				[(ngModel)]="product.price" name="price">
		</mat-form-field>
	</form>

	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="submit()">
			Salvar
		</button>
		
		<button mat-raised-button color="secondary" (click)="cancel()">
			Cancelar
		</button>
	</mat-card-actions>
</mat-card>
